{{template "head" .}}
    {{range .Comments}}
    <div>
        <hr>
        <img src='{{.User.AvatarURL}}' width=44 height=44 onclick='getElementById("{{.ID}}-body").classList.toggle("display-none")'>
        <a href='/{{.User.Login}}'>{{.User.Login}}</a> got <a href='{{.HTMLURL}}'>{{.Reactions.TotalCount}} reactions on {{.UpdatedAt.Format "Jan 2, 2006"}}</a>

        <div id='{{.ID}}-body' class='display-none'>{{markdown .Body}}</div>

        {{with .Reactions}}
        <p>
            {{if ne .GetPlusOne 0}}{{.PlusOne}} 👍{{end}}
            {{if ne .GetMinusOne 0}}{{.MinusOne}} 👎{{end}}
            {{if ne .GetLaugh 0}}{{.Laugh}} 😄{{end}}
            {{if ne .GetConfused 0}}{{.Confused}} 😕{{end}}
            {{if ne .GetHeart 0}}{{.Heart}} ❤️{{end}}
            {{if ne .GetHooray 0}}{{.Hooray}} 🎉{{end}}
        </p>
        {{end}}
    </div>
    {{end}}
{{template "foot" .}}