{{template "head" .}}

<h2>Number of queued items to fetch:</h2>
{{range .Counts}}
<div>{{.Type}}: {{.Count}}</div>
{{end}}

<h2>GitHub stats</h2>
<h3>Rate limits</h3>

<div id='github-core-rate' {{if not .CoreRate}}class='display-none'{{end}}>Core rate limit: <span id="github-core-rate-remaining">{{if .CoreRate}}{{.CoreRate.Remaining}}{{end}}</span>/<span id="github-core-rate-limit">{{if .CoreRate}}{{.CoreRate.Limit}}{{end}}</span>; reset at <span id="github-core-rate-reset">{{if .CoreRate}}{{.CoreRate.Reset.Time}}{{end}}</span></div>

<div id='github-search-rate' {{if not .SearchRate}}class='display-none'{{end}}>Search rate limit: <span id="github-search-rate-remaining">{{if .SearchRate}}{{.SearchRate.Remaining}}{{end}}</span>/<span id="github-search-rate-limit">{{if .SearchRate}}{{.SearchRate.Limit}}{{end}}</span>; reset at <span id="github-search-rate-reset">{{if .SearchRate}}{{.SearchRate.Reset.Time}}{{end}}</span></div>

<h3>Request log</h3>
<div id='request-log'>
    {{range .Requests}}
    <code>{{.}}</code><br>
    {{end}}
</div>

<script>
var requestlog = document.getElementById('request-log');

var proto = 'wss:'
if (location.protocol != 'https:') {
    proto = 'ws:'
}
const ws = new WebSocket(proto + '//' + location.host + '/_ws');

ws.addEventListener('message', function (event) {
    var payload = JSON.parse(event.data);

    if (payload.channel == 'github-requests') {
        var p = document.createElement('code');
        var text = document.createTextNode(payload.body);
        p.appendChild(text);
        p.appendChild(document.createElement('br'));
        requestlog.prepend(p);
    } else if (payload.channel == 'github-core-rate' || payload.channel == 'github-search-rate') {
        document.getElementById(payload.channel).classList.remove('display-none')
        document.getElementById(payload.channel + '-remaining').textContent = payload.body.remaining;
        document.getElementById(payload.channel + '-limit').textContent = payload.body.limit;
        document.getElementById(payload.channel + '-reset').textContent = payload.body.reset;
    } else {
        console.log(event.data)
    }
});
</script>
{{template "foot" .}}
