{{template "head" .}}

<h2>Number of queued jobs</h2>
{{range .JobCounts}}
<div>{{.Type}}: {{.Count}}</div>
{{end}}

<h2>GitHub stats</h2>
{{with .CoreRate}}
<div>Core rate limit: {{.Remaining}}/{{.Limit}}, reset in {{until .Reset.Time}}</div>
{{end}}
{{with .SearchRate}}
<div>Search rate limit: {{.Remaining}}/{{.Limit}}, reset in {{until .Reset.Time}}</div>
{{end}}

<h3>Request log</h3>
<div id='request-log'>
    {{range .Requests}}
    <code>{{.}}</code><br>
    {{end}}
</div>

<script>
var requestlog = document.getElementById('request-log');

var proto = 'wss:'
if (location.protocol != 'https:') {
    proto = 'ws:'
}
const ws = new WebSocket(proto + '//' + location.hostname + '/_ws');

ws.addEventListener('message', function (event) {
    var p = document.createElement('code');
    var text = document.createTextNode(event.data);
    p.appendChild(text);
    p.appendChild(document.createElement('br'));
    requestlog.prepend(p);
});
</script>
{{template "foot" .}}
